:root {
--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);
--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);
--main-font: 'DM Sans', sans-serif;
--header-font-weight: 700;
--text-font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.balance-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--soft-red);
    width: 40vw;
    height: 16vh;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 1.5rem;
}


.balance-header {
font-family: var(--main-font);
font-weight: var(--text-font-weight);
font-size: 12px;
color: var(--very-pale-orange);
padding: 0.3rem 0 0.3rem 0.1rem;
}

.balance-text {
    font-family: var(--main-font);
    font-weight: var(--header-font-weight);
    color: var(--very-pale-orange);
    font-size: 24px;
}

.chart-container {
    margin-top: 1rem;
    background-color: var(--very-pale-orange);
    width: 40vw;
    height: 60vh;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.chart {
    display: flex;
    justify-content: space-between;
    height: 14rem;
}

.chart-header {
    font-family: var(--main-font);
    font-weight: var(--header-font-weight);
    font-size: 24px;
}

.chart-item {
    align-self: flex-end;
    width: 6vw;
}

.chart-bar-total {
background-color: var(--dark-brown);
font-family: var(--main-font);
color: var(--cream);
text-align: center;
padding-top: 0.5rem;
height: 2rem;
border-radius: 0.3rem;
margin-bottom: 0.3rem;
font-size: 13px;
}

.chart-bar {
    background-color: var(--soft-red);
    height: 2rem;
    margin-left: 10%;
    width: 80%;
    border-radius: 0.3rem;
}

.chart-bar-text {
    font-family: var(--main-font);
    font-weight: var(--text-font-weight);
    text-align: center;
    color: var(--medium-brown);
}

hr {
    margin: 1.5rem 0;
    color: var(var(--medium-brown));
}

.chart-totals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthly-total-header {
    font-family: var(--main-font);
    font-weight: var(--text-font-weight);
    font-size: 12px;
    color: var(--medium-brown)
}

.monthly-total {
    font-family: var(--main-font);
    font-weight: var(--header-font-weight);
    font-size: 30px;
}

.monthly-increase-header {
    font-family: var(--main-font);
    font-weight: var(--header-font-weight);
}

.monthly-increase-text {
    font-family: var(--main-font);
    font-weight: var(--text-font-weight);
    font-size: 12px;
    color: var(--medium-brown);
}

.today {
    background-color: var(--cyan);
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}
